<div *ngIf="list">
  <h3>There is a lot to do, you better get started!</h3>
  <ul>
    <li *ngFor="let item of list">
      You have to complete:
      <span>{{item.title}}</span>
      <i (click)="editItem(item)">x</i>
      <br> Untill:
      <span>{{item.date | date:'medium'}}</span>
      <br>
      <label (click)="toggleDone(item)">
        DONE!
      </label>
      <form *ngIf="itemToEdit?.uid == item.uid" [formGroup]="form" novalidate>
        <input type="text" formControlName="title" />
        <br>
        <input type="datetime-local" formControlName="date" />
        <br>
        <button (click)="updateCurrentItem()">Update</button>
        <button (click)="cancelEdit()">Cancel</button>
        <button (click)="deleteItem()">Delete</button>
      </form>
      <div *ngIf="item.done">
        donzo!
      </div>
    </li>
  </ul>
</div>